@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body{
    background-color:#dddddd;
    color:  rgba(00, 00, 00, 1);
    font-family: Arial;
}

table#tabelaspec{
    border-block-color: #dddddd;
    border-radius: 1px;
    border-style: solid;
    border-spacing: 0px; /* espaçamento entre as bordas da tabale e das células/-colunas. */;
    margin-right: auto;
    margin-left: auto;
}

table#tabelaspec td{
    border-block-color: #dddddd;
    border: 1px solid #060606;
    padding: 10px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

table#tabelaspec td.ce{
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
    border: 0px;
}

table#tabelas td.cd{
    background-color: #cecece;
}

table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    color: #060606;
    font-size: 8pt;
    margin-top: 10px
}

div#interface{
    width: 1080px;
    background-color: white;
    margin: -20px auto 0px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(00, 00, 00, 0.5);
}

p{
    text-align: justify;
    text-indent: 50px;
    margin-top: 50px;
    padding-left: 40px;
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header#cabecalho img#icone{
    position: absolute;
    left: 1180px;
    top: 50px;
}

header#cabecalho{
    border-bottom: 1px #060606 solid;
    height: 150px;
    background-image: url(../_imagens/glass-logo-peq.jpg);
    background-repeat: no-repeat;
    background-position: 0px 100px;
}

header#cabecalho h1{
   font-family: 'Fontelogo', Helvetica, sans-serif;
   font-size: 30pt;
   color: #606060; 
   text-shadow: 1px 1px 1px rgba(00, 00, 00, 0.6);
   padding: 0px;
   margin: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin: 0px;
}

/* formatação de imagens com legendas */
figure.foto_legenda{
    position: relative;
    border: solid;
    border-radius: 8px;
    border-color:white;
    box-shadow: 1px 1px 4px black;
}

figure.foto_legenda img{
    width: 100%;
    height: 100%;
}

figure.foto_legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(00, 00, 00, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* é possivel parametros como parametros */
    opacity: 0;
    transition: opacity 1s;
}

figure.foto_legenda figcaption:hover{
    opacity: 1;
}

nav#menu{
   display: block;
}

nav#menu li:hover{
    background-color: #606060;

}

nav#menu h1{
    display: none;
}

/*formatação do menu */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 800px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 5px;
    margin: 5px;
    transition: background-color 1s;
}

nav#menu a{
    color: rgba(00, 00, 00, 0.7);
    text-decoration:none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}

/* formatação sessao. */
section#corpo{
    display: block;
    width: 550px;
    float: left;
    border-right: 1px solid #606060;
    padding: 10px;
}

article#noticia-principal h2 {
    font: 13 pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'Fonte-log', sans-serif;
    font-style: 20pt;
    color: #606060;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12pt;
    color: #606060;
}

span.direita h3{
    text-align: righ;
    float: right;
}

aside#lateral h1{
    font-family: 'Font-logo', sans-serif;
    font-size: 15pt;
    color: #060606;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}
/*formatação sessao lateral. */
aside#lateral{
    display: block;
    width: 475px;
    float: right;
    padding: 10px;
    margin: 10px auto auto auto;
    background-color: #88888850;
}

/*formatação rodapé */
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}

