@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body{
    background-color:#dddddd;
    color:  rgba(00, 00, 00, 1);
}

div#interface{
    width: 1080px;
    background-color: white;
    margin: -20px auto 0px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(00, 00, 00, 0.5);
}

p{
    text-align: justify;
    text-indent: 50px;
}

header#cabecalho img#icone{
    position: absolute;
    left: 1180px;
    top: 70px;
}

header#cabecalho{
    border-bottom: 1px #060606 solid;
    height: 150px;
    background-image: url(../_imagens/glass-logo-peq.jpg);
    background-repeat: no-repeat;
    background-position: 0px 100px;
}

header#cabecalho h1{
   font-family: 'Fontelogo', Helvetica, sans-serif;
   font-size: 30pt;
   color: #606060; 
   text-shadow: 1px 1px 1px rgba(00, 00, 00, 0.6);
   padding: 0px;
   margin: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin: 0px;
}


/* formatação de imagens com legendas */

figure.foto_legenda{
    position: relative;
    border: solid;
    border-radius: 8px;
    border-color:white;
    box-shadow: 1px 1px 4px black;
}

figure.foto_legenda img{
    width: 100%;
    height: 100%;
}

figure.foto_legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(00, 00, 00, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* é possivel parametros como parametros */
    opacity: 0;
    transition: opacity 1s;
}

figure.foto_legenda figcaption:hover{
    opacity: 1;
}

nav#menu{
   display: block;
}

nav#menu li:hover{
    background-color: #606060;

}

nav#menu h1{
    display: none;
}

/*formatação do menu */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 800px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 5px;
    margin: 5px;
    transition: background-color 1s;
}

nav#menu a{
    color: rgba(00, 00, 00, 0.7);
    text-decoration:none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}