@charset "utf-8";

body{
    background-color:white;
    color:  rgba(00, 00, 00, 1);
}

p{
    text-align: justify;
    text-indent: 50px;
}

/* formatação de imagens com legendas */

figure.foto_legenda{
    position: relative;
    border: solid;
    border-radius: 8px;
    border-color:white;
    box-shadow: 1px 1px 4px black;
}

figure.foto_legenda img{
    width: 100%;
    height: 100%;
}

figure.foto_legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(00, 00, 00, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* é possivel parametros como parametros */
    opacity: 0;
    transition: opacity 1s;
}

figure.foto_legenda figcaption:hover{
    opacity: 1;
}

nav#menu{
   display: block;
}

nav#menu li:hover{
    background-color: #606060;

}

nav#menu h1{
    display: none;
}

/*formatação do menu */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 600px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 5px;
    margin: 5px;
    transition: background-color 1s;
}

nav#menu a{
    color: rgba(00, 00, 00, 0.7);
    text-decoration:none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}